<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="VbsEnclaveToolingDependencies" value="https://pkgs.dev.azure.com/shine-oss/VbsEnclaveTooling/_packaging/VbsEnclaveToolingDependencies/nuget/v3/index.json" />
    <add key="localEnclaveCodeGenNuget" value="_build" />
  </packageSources>
</configuration>
