<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="localEnclaveToolingNuget" value="_build" />
      
      <!-- We'll need to create our own nuget feed but until then we can use terminals open source feed to get access to the Microsoft.Taef nuget package-->
    <add key="TerminalDependencies" value="https://pkgs.dev.azure.com/shine-oss/terminal/_packaging/TerminalDependencies/nuget/v3/index.json" />
  </packageSources>
</configuration>
