<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Taef" version="10.93.240607003" targetFramework="native" />
    <!-- 
    Microsoft.Windows.VbsEnclaveTooling" version="0.0.0" targetFramework="native" should always appear here
    as its the locally built nuget package for the test projects. If you remove it through the visual studio
    UI it will dispear from the list, so you'll have to manually add it back. Its here to allow the projects
    to automatically install the package at build time without us needing to manually add it through the UI.
    -->
  <package id="Microsoft.Windows.VbsEnclaveTooling" version="0.0.0" targetFramework="native" />
</packages>
