name: cpp_ci

on:
  pull_request:
  push:
    branches:
      - main
      - 'feature/**'
      - 'feat/**'

jobs:
  build-edl-code-gen:
    name: Build EdlCodeGen
    runs-on: windows-latest

    strategy:
      matrix:
        platform: [x64, arm64]
        configuration: [Debug, Release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          # 2025.09.17 release.
          vcpkgGitCommitId: '4334d8b4c8916018600212ab4dd4bbdc343065d1'

      - name: Integrate vcpkg with MSBuild
        run: ${{ env.VCPKG_ROOT }}/vcpkg.exe integrate install
        shell: pwsh

      - name: Restore NuGet packages
        run: nuget restore VbsEnclaveTooling.sln -ConfigFile NuGet.config

      - name: Build EdlCodeGen solution
        run: msbuild VbsEnclaveTooling.sln /m /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}

      # Upload build outputs so the test job can use them.
      - name: Upload EdlCodeGen artifacts
        uses: actions/upload-artifact@v4
        with:
          name: edlcodegen-${{ matrix.platform }}-${{ matrix.configuration }}
          path: |
            _build/${{ matrix.platform }}/${{ matrix.configuration }}/
  run-edl-code-gen-tests:
    name: Test EdlCodeGen
    runs-on: windows-latest
    needs: build-edl-code-gen

    strategy:
      matrix:
        configuration: [Debug, Release]

    steps:
      - name: Download x64 artifacts
        uses: actions/download-artifact@v4
        with:
          name: edlcodegen-x64-${{ matrix.configuration }}
          path: _build/x64/${{ matrix.configuration }}/

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      # Unit tests are only in x64 since the EdlCodeGen executable is only in x64.
      - name: Run EdlCodeGen unit tests
        shell: pwsh
        run: |
          $vsTestInstallPath = & "${env:ProgramFiles(x86)}/Microsoft Visual Studio/Installer/vswhere.exe" -latest -products * -requires Microsoft.VisualStudio.Workload.ManagedDesktop Microsoft.VisualStudio.Workload.Web -requiresAny -property installationPath
          $vstestConsoleExe = join-path $vsTestInstallPath 'Common7/IDE/CommonExtensions/Microsoft/TestWindow/vstest.console.exe'
          & $vstestConsoleExe "_build/x64/${{ matrix.configuration }}/UnitTests.dll"

  build-sdk:
    name: Build Veil SDK
    runs-on: windows-latest

    strategy:
      matrix:
        platform: [x64, arm64]
        configuration: [Debug, Release]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v2

      - name: Restore NuGet packages
        run: nuget restore src/VbsEnclaveSDK/vbs_enclave_implementation_library.sln -ConfigFile NuGet.config

      - name: Build SDK solution
        run: msbuild src/VbsEnclaveSDK/vbs_enclave_implementation_library.sln /m /p:Configuration=${{ matrix.configuration }} /p:Platform=${{ matrix.platform }}
