name: rust_ci

on:
  push:
    branches: [main]
    paths:
      - 'rust/**'
      - '.github/workflows/rust_ci.yml'
  pull_request:
    paths:
      - 'rust/**'
      - '.github/workflows/rust_ci.yml'

defaults:
  run:
    working-directory: ./rust

jobs:

  # Confirm Rust code formatting is ok.
  fmt:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup update stable
      
      - name: fmt edlcodegen
        run: cargo fmt --all -- --check
        working-directory: ./rust/edlcodegen

      - name: Generate edlcodegen bindings for the sdk
        shell: pwsh
        working-directory: ./rust/sdk
        run: |
          pwsh ./generate_codegen_for_workspace.ps1

      - name: fmt sdk
        run: cargo fmt --all -- --check
        working-directory: ./rust/sdk

  # Confirm Rust linter doesn't produce errors.
  clippy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup update stable

      - name: clippy edlcodegen
        run: cargo clippy --workspace --all-targets -- -D warnings
        working-directory: ./rust/edlcodegen

      - name: Generate edlcodegen bindings for the sdk
        shell: pwsh
        working-directory: ./rust/sdk
        run: |
          pwsh ./generate_codegen_for_workspace.ps1
          
      - name: clippy sdk
        run: cargo clippy --workspace --all-targets -- -D warnings
        working-directory: ./rust/sdk

 # Confirm all Rust tests pass without errors on x64 and arm64.
  test:
    strategy:
      matrix:
        include:
          - version: stable
            host: x86_64-pc-windows-msvc
            target: x86_64-pc-windows-msvc
            runner: windows-2025
          - version: stable
            host: aarch64-pc-windows-msvc
            target: aarch64-pc-windows-msvc
            runner: windows-11-arm

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Update toolchain
        run: rustup update --no-self-update ${{ matrix.version }} && rustup default ${{ matrix.version }}-${{ matrix.host }}
      - name: Add toolchain target
        run: rustup target add ${{ matrix.target }}
      - name: Install fmt, clippy
        run: rustup component add clippy rustfmt

      - name: Generate edlcodegen bindings for the sdk
        shell: pwsh
        working-directory: ./rust/sdk
        run: |
          pwsh ./generate_codegen_for_workspace.ps1

      - name: test Edlcodegen
        working-directory: ./rust/edlcodegen
        run: cargo test --workspace

      - name: test SDK
        working-directory: ./rust/sdk
        # Don't test the enclave crates here as they require special setup. (vertdll + veinterop can't be used outside of an enclave).
        # We will need to do real integration tests for those later.
        run: >
          cargo test
          --workspace
          --exclude vbsenclave-sdk-enclave
          --exclude windows-enclave
          --exclude veil_abi_enclave_gen