name: rust_ci

on:
  push:
    branches: [main]
    paths: ['rust/**']
  pull_request:
    paths: ['rust/**']

jobs:

  # Confirm Rust code formatting is ok.
  fmt:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup update stable
      - run: cargo fmt --all -- --check

  # Confirm Rust linter doesn't produce errors.
  clippy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - run: rustup update stable

      # We don't use -- -D warnings (treat warnings as error) due to flatbuffers generated
      # files containing code that produces warnings. This should be fixed when this PR
      # in the flatbuffer repo is checked in: https://github.com/google/flatbuffers/pull/8564
      - run: cargo clippy --workspace --all-targets

 # Confirm all Rust tests pass without errors.
  test:
    runs-on: windows-latest
    needs: [fmt, clippy]
    steps:
      - uses: actions/checkout@v5
      - run: rustup update stable
      - run: cargo test --workspace
